@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Exo+2');



body {
	background-color:  #FFE9E8;
	font-family: helvetica;
	

    margin: 0;
    padding: 0;

}

#content {
	width: 700px;
	margin: 0px 0px 0px 100px;
	/*background-color: lightgrey;*/
	padding: 20px;
}

#newsletter {
	font-size: 20px;
	padding: 20px;
	background-color: #FFE9E8;
	color: black;
	float: right;

}


/*#newsletter h1{
       float: left;

}

#newsletter form{
	float: right;
	margin-top: 40px;
	background-color: #FFE9E8;
}
.next {
	text-align: center;
	text-decoration: none;
}
*/
a:hover{
	color: blue;
	text-decoration: none;

}


#navigation a:hover{
	text-decoration: none;
	color: darkgrey;

}
#navigation li a{
	text-decoration: none;
}
#navigation li{
	list-style-type: none;
	text-align: center;
}


#image {
	width: 700px;
	margin: 0px 0px 0px 100px;
	float: left;

}

#header #navigation {
	float: left;
	margin-top: 10px;
	padding-right: 10px;
	
}

#header .heading {
	float: right;
   line-height: 2px;

}
#header .heading h1 {
	width: 250px;
	text-align: center;
	margin: 100px auto 20px auto;
	color: #808080;

}

#header {
	background-color: #F09999;
	width: 100%;
	height: 150px;
	overflow: hidden;
	padding-right: 20px;
	margin
}

#navigation a:hover{
	text-decoration: none;
	color: #CA278C;

}
#navigation li a{
	text-decoration: none;
}
#navigation li{
	list-style-type: none;
	display: inline;
	border-right: 1px solid #FFE9E8;
	padding-right: 5px;
}


#navigation ul li a{
	color: #808080;
}
#navigation li:last-child{
	border-right: none;
}



#navigation  ul{
	margin-top: 100px;
}




